[Unit]
Description=VNC server service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=pchrusciel
WorkingDirectory=/home/pchrusciel/cncTools
ExecStart=make start_vnc

[Install]
WantedBy=multi-user.target