.cnc_card-title {
    margin-top: 8px;
}
.cnc_card-button {
    float: right;
}
.cam_card {
    height: 100%
}
.label {
    margin-top: 20px;
    margin-bottom: 20px;
}
.cnc_card-relay_status {
    display: block;
    margin-top: 8px;
    margin-right: 20px;
    float:right
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.camera_control {
    float: left;
    padding: 2px;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    position: relative;
    box-shadow: #f3f3f3 2px 2px;
}

.single_cam_view {
    flex-grow: 1;
    position: relative;
    background: #b6b6b6;
    overflow: hidden;
}

.cam_card > .card-body {
    flex: 0 1 auto;
}

.detector_cam {
    height: 25px;
    width: 25px;
    background-color: #ff6767;;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #ffffff;
}

.card-img-top {
    object-fit: contain;
}
/*
.detector_range {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 350px 606.2px 350px;
    border-color: transparent transparent #007bff2b transparent;
    transform-origin: 0% 100%;
    transition-duration: 0.5s;
    transition-property: rotate;
}
*/

.detector_capture {
    max-width: 400px;
    min-width: 30%;
}

.detector_range {
    transform-origin: 0% 100%;
    transition-duration: 0.5s;
    transition-property: rotate;
    opacity: 0.5;
}

.range_gradient_main-stop {
    stop-color: #0099ff;
}

.range_gradient_alt-stop {
    stop-color: #ffffff00;
}