<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        .label {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <title>Overseer eye</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 label">
            <div class="card">
                <img class="card-img-top" src="http://192.168.2.44/webcam/?action=stream" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">3D printer</h5>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 label">
            <div class="card">
                <img class="card-img-top" src="http://192.168.2.44:8082/?action=stream" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">3D printer 2</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 label">
            <div class="card">
                <img class="card-img-top" src="http://192.168.2.53:8081/cam/video_feed/2" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">6040 CNC</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 label">
            <div class="card">
                <img class="card-img-top" src="http://192.168.2.53:8081/cam/video_feed/0" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Workshop 1</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 label">
            <div class="card">
                <img class="card-img-top" src="http://192.168.2.53:8081/cam/video_feed/4" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Workshop 2</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
